Repository TimeEval/GutenTAG, pull requests merged in 2023-04, with the labels that each got.

#23 Fix usage of deprecated API of Pandas
  gutenTAG/addons/timeeval.py
  requirements.txt
Labels: :bug: bug(-fix), :medal_sports: high, dependencies

#6 add existing TS BO
  .gitignore
  doc/images/pycharm-create-schema-mapping.png
  doc/images/pycharm-select-schema.png
  doc/introduction/base-oscillations.md
  doc/introduction/index.md
  gutenTAG/base_oscillations/__init__.py
  gutenTAG/base_oscillations/custom_input.py
  gutenTAG/base_oscillations/interface.py
  gutenTAG/base_oscillations/random_walk.py
  gutenTAG/config/schema/oscillation.guten-tag-generation-config.schema.yaml
  gutenTAG/consolidator.py
  gutenTAG/generator/timeseries.py
  gutenTAG/utils/compatibility.py
  gutenTAG/utils/default_values.py
  gutenTAG/utils/global_variables.py
  tests/configs/example-config-custom-input.yaml
  tests/custom_input_ts/dummy_timeseries.csv
  tests/custom_input_ts/dummy_timeseries_2.csv
  tests/generated/example-ts-custom-input.csv
  tests/test_integration/test_base_oscillations.py
Labels: comp: :book: documentation, enhancement, :medal_sports: medium, comp: GutenTAG (general), comp: :open_file_folder: config / schema, comp: :snake: API

#26 Refactor and cleanup custom input BO implementation
  doc/introduction/base-oscillations.md
  gutenTAG/base_oscillations/custom_input.py
  gutenTAG/base_oscillations/interface.py
  gutenTAG/utils/global_variables.py
  tests/test_base_oscillations/test_custom_input.py
Labels: :bug: bug(-fix), :medal_sports: medium, comp: GutenTAG (general)

#27 Allow nesting of trends
  gutenTAG/base_oscillations/interface.py
  tests/configs/example-config-nested-trend.yaml
  tests/generated/example-ts-nested-trend.csv
  tests/test_integration/test_base_oscillations.py
Labels: :bug: bug(-fix), :medal_sports: medium, comp: GutenTAG (general)
